@font-face {
  font-family: "Effra";
  font-weight: 400;
  src: local("Effra"), url("../fonts/Effra.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Effra Light";
  font-weight: 300;
  src: local("Effra"), url("../fonts/Effra_Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Effra Bold";
  font-weight: 600;
  src: local("Effra"), url("../fonts/Effra_Bold.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none !important;
}

.main-width {
  max-width: 100%;
  width: 100%;
}

body {
  font-family: "Effra", sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-weight: 400;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h2 {
  color: $white;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0px;
  margin-bottom: 23px;
  @include media("medium") {
    font-size: 32px;
  }
}

h3 {
  color: $white;
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 0;
  @include media("medium") {
    font-size: 24px;
  }
}

h4 {
  font-family: "Effra Bold", sans-serif;
  color: $text;
  font-size: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
  @include media("medium") {
    font-size: 16px;
  }
}

h5 {
  font-size: 14px;
  color: $text;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 16px;
  @include media("medium") {
    font-size: 16px;
  }
}

p {
  font-family: "Effra Light", sans-serif;
  font-size: 12px;
  color: $text;
  line-height: 21px;
  strong {
    font-family: "Effra Bold", sans-serif;
  }
  @include media("medium") {
    font-size: 16px;
    line-height: 26px;
  }
}

a {
  font-family: "Effra Light", sans-serif;
  text-decoration: none;
  color: $green;
  &:hover {
    text-decoration: none;
    color: $green;
  }
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.container-fluid {
  padding: 0;
}

.row,
.col {
  padding: 0;
  margin: 0;
  @include media("medium") {
    padding: inherit;
    margin: inherit;
  }
}

//BUTTONS

.btn {
  font-family: "Effra", sans-serif;
  font-weight: $font-bold;
  background-color: $white;
  color: $green;
  font-size: 14px;
  padding: 7px 28px;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out color;
  @include media("medium") {
    padding: 15px 48px;
    font-size: 16px;
  }

  &:hover {
    color: $black;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    background-color: rgba($green, 0.2);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s ease-in-out height;
  }

  &:hover {
    &::before {
      height: 100%;
    }
  }
}
