$text: #1c1f2b;
$white: #fff;
$black: #000;
$green: #40ae49;
$gray: #eaeaea;

$radius: 1px;
$transition: all 0.2s;
$box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.25);
$container: 0 10%;

$font-light: 200;
$font-normal: 400;
$font-bold: 600;
