.cta {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 66px;
  position: relative;

  @include media("medium") {
    min-height: 35vw;
  }

  &__background-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &__background {
    object-fit: cover;
    height: 100%;
    object-position: center;

    @include media("medium") {
      min-height: 34vw;
      object-fit: contain;
      height: auto;
      width: 100%;
    }
  }

  .custom-logo {
    margin-bottom: 25px;
    max-width: 80px;
    height: auto;
    @include media("medium") {
      max-width: unset;
      margin-bottom: 15px;
    }
  }

  &__text {
    color: $white;
    line-height: 24px;
    max-width: 540px;
    text-align: center;
    margin-bottom: 24px;
    padding: 0 25px;
    @include media("medium") {
      padding: 0;
    }
  }
}
