.footer {
  min-height: 82vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  @include media("medium") {
    flex-direction: row;
    margin-bottom: 64px;
  }

  &__background-wrapper {
    position: absolute;
    overflow-y: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @include media("medium") {
      overflow-y: initial;
    }
  }

  &__background {
    object-fit: cover;
    height: 108%;
    width: 100%;
    object-position: top;

    @include media("medium") {
      height: 100%;
    }
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__info {
    text-align: center;
    @include media("small") {
      text-align: left;
      margin-right: auto;
    }
  }

  &__text {
    text-align: center;
    max-width: 244px;
    margin: 0 auto 16px;
    @include media("small") {
      text-align: left;
      margin-left: 0;
    }
  }

  &__social-media {
    margin-bottom: 34px;
    display: flex;
    justify-content: center;
    @include media("medium") {
      margin-bottom: 0;
      justify-content: flex-start;
    }
  }

  &__menu {
    margin-bottom: 34px;
    @include media("small") {
      margin-bottom: 0;
      margin-right: auto;
    }

    ul {
      margin-bottom: 0;
      @include media("small") {
        columns: 2;
      }
    }

    li {
      margin-bottom: 16px;
      justify-content: center;
      @include media("small") {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &::before {
          content: "";
          display: block;
          width: 5px;
          height: 5px;
          background-color: $text;
          margin-right: 10px;
          border-radius: 50%;
        }
      }
    }

    a {
      text-align: center;
      color: $text;
      transition: 0.25s color ease-in-out;
      display: block;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 800;
      &:hover {
        color: $green;
      }
      @include media("small") {
        text-align: left;
        text-transform: unset;
      }
    }
  }

  &__menu-title {
    text-align: center;
    @include media("small") {
      text-align: left;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  @include media("medium") {
    display: block;
    margin-bottom: 0;
  }
  &__text {
    margin-bottom: 29px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 198px;
    @include media("small") {
      text-align: left;
      margin-bottom: 15px;
    }
  }

  &__icon {
    margin-bottom: 16px;
    .a {
      fill: $green;
    }
    @include media("medium") {
      margin: 0 22px 0 0;
    }
  }

  &__email {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include media("medium") {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__link {
    color: $black;
    transition: color 0.25s ease-in-out;
    font-weight: 800;
    &:hover {
      color: $green;
    }
  }
}

.social-media {
  margin-right: 16px;

  &__image {
    display: inline-block;
    margin-bottom: 0;
    &:hover {
      .a {
        fill: $text;
      }
    }
    .a {
      fill: $green;
    }
  }
}

.fixed {
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  z-index: 7;
  flex-direction: column;
  @include media("medium") {
    position: fixed;
    background: $white;
    flex-direction: row;
    padding: 15px 93px;
    box-shadow: $box-shadow;
  }

  &__logo {
    margin-right: 52px;
    display: none;
    @include media("medium") {
      display: block;
      margin-bottom: 0;
    }
  }

  &__header {
    font-family: "Lato", sans-serif;
    color: $white;
    font-size: 14px;
    text-align: center;
    @include media("medium") {
      color: $text;
      font-size: 15px;
      margin: 0 auto 0 0;
      text-align: left;
    }
  }

  &__powered {
    font-size: 12px;
    @include media("medium") {
      margin-bottom: 0;
    }
    @include media("large") {
      font-size: 16px;
    }
  }

  &__powered-link {
    color: $white;
    font-family: "Lato", sans-serif;
    @include media("medium") {
      color: $text;
    }
  }
}
