.gallery {
  margin-bottom: 64px;
  @include media("medium") {
    margin-bottom: 128px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: $text;
    text-transform: uppercase;
    margin-bottom: 23px;
    text-align: center;
  }

  &__single {
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(n + 9) {
      display: none;
    }
    @include media("small") {
      width: 25%;
    }
    @include media("medium") {
      width: 16.6%;
      &:nth-child(n + 9) {
        display: inherit;
      }
    }
  }

  &__image {
    max-width: 100%;
  }

  &__line {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 61px;
    margin-bottom: 64px;
    @include media("medium") {
      margin-bottom: 127px;
    }
    &::before {
      content: "";
      display: block;
      width: 320px;
      height: 1px;
      background-color: $gray;
      @include media("medium") {
        width: 654px;
      }
    }
  }

  &__ring {
    position: absolute;
    width: 80px;
    height: 61px;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media("medium") {
      width: 144px;
      height: 61px;
    }
    &::before {
      content: "";
      display: block;
      width: 32px;
      height: 32px;
      background-color: $green;
      border-radius: 50%;
      position: absolute;
      @include media("medium") {
        width: 61px;
        height: 61px;
        left: calc(50% - 30px);
      }
    }

    &::after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      background-color: $white;
      border-radius: 50%;
      position: absolute;

      @include media("medium") {
        width: 27px;
        height: 27px;
        left: calc(50% - 13px);
        top: 17px;
      }
    }
  }
}
