.header {
  position: relative;
  @include media("medium") {
  }
  &__container {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
  }

  &__background-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__background {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: bottom;
  }

  &__title {
    margin-bottom: 0;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: auto;
    bottom: 24px;
    padding: 0 29px;
    @include media("medium") {
      padding: 0;
    }
  }

  &__scroll {
    display: none;
    @include media("medium") {
      display: block;
      position: absolute;
      left: calc(50% - 11px);
      bottom: 134px;
    }
  }

  &__logo-wrapper {
    margin-bottom: 22px;
    padding-bottom: 22px;
    position: relative;
    text-align: center;
    position: relative;
    z-index: 3;

    .custom-logo {
      @include media("medium") {
        width: 300px;
      }
    }
    &::after {
      content: "";
      display: block;
      width: 160px;
      height: 1px;
      background-color: $white;
      position: absolute;
      bottom: 0;
      left: calc(50% - 80px);
      @include media("medium") {
        width: 240px;
        left: calc(50% - 120px);
      }
    }
    @include media("medium") {
      margin-bottom: 42px;
      padding-bottom: 42px;
    }
  }

  &__logo-img {
    @include media("medium") {
      min-width: 300px;
      height: auto;
    }
  }
}

.navigation {
  &__desktop {
    display: none;
    @include media("medium") {
      position: fixed;
      right: 32px;
      top: 0;
      width: 81px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 7;
      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background-color: $white;
      }
    }

    &.alternative {
      &::after {
        background-color: black;
      }
    }
  }

  &__list {
    opacity: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
    background-color: $text;
    transition: opacity 0.3s ease;

    .custom-logo-link {
      margin-bottom: 80px;
    }
    li {
      margin-bottom: 40px;
    }
    a {
      font-size: 14px;
      color: $white;
      text-transform: uppercase;
      display: block;
    }
    &.open-menu {
      pointer-events: initial;
      z-index: 9;
      opacity: 1;
      & + .navigation__hamburger {
        position: fixed;
        top: 38px;

        span {
          &:nth-child(1) {
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            transform: translateY(-8px) rotate(-45deg);
          }
          &:nth-child(3) {
            display: none;
          }
        }
      }

      .navigation__list {
        opacity: 1;
      }
    }
    @include media("medium") {
      display: none;
    }
  }

  &__hamburger {
    position: absolute;
    left: 20px;
    top: 32px;
    z-index: 9;
    cursor: pointer;
    @include media("medium") {
      display: none;
    }

    span {
      display: block;
      width: 24px;
      height: 4px;
      margin-bottom: 4px;
      background: $white;
      border-radius: 10px;
    }
  }

  &__wrapper {
    a {
      color: $white;
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
      padding-right: 20px;
      &::after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        background-color: $white;
        border-radius: 50%;
        position: relative;
        right: -24px;
      }

      &.active {
        color: $green;
        font-weight: $font-bold;
        &::after {
          background-color: $green;
        }
      }

      &.alternative {
        color: black;
        font-weight: 800;

        &::after {
          background-color: black;
        }

        &.active {
          color: $green;

          &::after {
            background-color: $green;
          }
        }
      }
    }
  }
}
