.image-text {
  margin-bottom: 64px;
  @include media("medium") {
    padding-top: 128px;
    margin-bottom: 128px;
  }

  .row {
    padding-top: 0;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    &:nth-child(2n) {
      flex-direction: row-reverse;
      .image-text__image {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &__title {
    color: $text;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 32px;
    margin-bottom: 16px;
    position: relative;
    z-index: 2;
    @include media("medium") {
      display: none;
    }
  }

  &__image {
    padding: 0;
    margin-bottom: 16px;
    @include media("medium") {
      margin-bottom: 0;
    }
    img {
      @include media("medium") {
        width: 100%;
        height: auto;
      }
      @include media("xlarge") {
        width: auto;
      }
    }
  }
  &__text {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    @include media("medium") {
      align-items: center;
      flex-direction: row;
    }
    p {
      position: relative;
      z-index: 2;
    }
    @include media("large") {
      padding: 0 88px 0 95px;
    }
  }

  &__ring {
    position: absolute;
    top: -20px;
    z-index: 1;
    width: 64px;
    height: 64px;
    @include media("medium") {
      width: 100px;
      height: 100px;
      top: -35px;
      margin-left: -27px;
    }
  }

  &__paragraph {
    position: relative;
    z-index: 2;
  }
}
